<p id="notice"><%= notice %></p>

<p>
  <strong>String:</strong>
  <%= @entry.string %>
</p>

<p>
  <strong>String:</strong>
  <%= @entry.string %>
</p>

<p>
  <strong>String:</strong>
  <%= @entry.string %>
</p>

<p>
  <strong>String:</strong>
  <%= @entry.string %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @entry.integer %>
</p>

<p>
  <strong>String:</strong>
  <%= @entry.string %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @entry.datetime %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
