<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @reax.user %>
</p>

<p>
  <strong>Username:</strong>
  <%= @reax.username %>
</p>

<p>
  <strong>Post:</strong>
  <%= @reax.post %>
</p>

<p>
  <strong>Submission:</strong>
  <%= @reax.submission %>
</p>

<p>
  <strong>Upvotes:</strong>
  <%= @reax.upvotes %>
</p>

<%= link_to 'Edit', edit_reax_path(@reax) %> |
<%= link_to 'Back', reaxes_path %>
