<br>


<div class="container">

	<% @posts.each do |post| %>
		        <h2 id="title"><%= post.title %></h2>
		        By <h7><%= post.author %></h7> at <h7><%= post.published_at %></h7>
		        <p id="paragraph"><%= simple_format post.content %></p>
		    
		<% end %>
</div> 

<div class="container">
	<%= button_to "Post Here", posts_path, :class => "btn btn-primary", :method => :get %>
</div>

<script type="text/javascript">

$(document).ready(function(){
	$("#whatever").click(function() {
		texty = $('p').text();
		console.log(texty)
		if(texty.contains("Tulane")){
			$(".output").replaceWith("New text goes here"); 
			} else{
				console.log("nothing")
			}; 
	}); 
});
</script>


