<br>

<div class="container">

	<ul id="hexGrid">
	  <% @posts.each do |post| %>
	  <li class="hex">
	    <%= link_to stories_path(id: post.slug), class: "hexIn" do %>
	       <%= image_tag(post.headerimg, :alt => "rss feed") %>
	       <h1><%= post.title %></h1>
	      <p><%= post.category %></p>
	      <% end %>
	  </li>
	  	<% end %>
	</ul>

	     <% if user_signed_in? %>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
     <% else %>
       <p>
         <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
         <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
       </p>
  <% end %>  

</div>





