<br>

<div class="special">
	<div class="col-md-8">
		<br>

		<% @posts.each do |post| %>
			    <h2 id="title"><%= post.title %></h2>
			    <p id="category"><%= post.category %></p>
			    <br>
			        <!-- By <h5><%= post.author %></h5> at <h5><%= post.published_at %></h5> -->
			    <div id="paragraph"><%= markdown(post.content) %></div>    
		<% end %>
	</div> 

	<div class="col-md-4">
		<div class="exampleToggle">
			<p>This is my example content.</p>
	</div>
	</div>

</div>

<script>

	$(document).ready(function(){
		$( ".exampleToggle" ).hide();

		$("p").click(function(){
    		$(".exampleToggle").toggle();
			});
	});

</script>

    <script>
      if (typeof annotator === 'undefined') {
        alert("Oops! it looks like you haven't built Annotator. " +
              "Either download a tagged release from GitHub, or build the " +
              "package by running `make`");
      } else {
        var app = new annotator.App();
        app.include(annotator.ui.main);
        app.start();
      }
    </script>