<br>

<div class="special">
	<div class="col-md-8">
		<br>

		<% @posts.each do |post| %>
			    <h2 id="title"><%= post.title %></h2>
			    <p id="category"><%= post.category %></p>
			    <br>
			        <!-- By <h5><%= post.author %></h5> at <h5><%= post.published_at %></h5> -->
			    <div id="paragraph"><%= markdown(post.content) %></div>    
		<% end %>
	</div> 

	<div class="col-md-4">
		<div class="exampleToggle">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			        <h4 class="modal-title">Modal title</h4>
			      </div>
			      <div class="modal-body">
			        <p>One fine body&hellip;</p>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			        <button type="button" class="btn btn-primary">Save changes</button>
			      </div>
			    </div><!-- /.modal-content -->
	</div>
		<%= form_for :cements do |f| %>
		  	<div class="form-group">
  			<div class="field">
		    <%= f.label :username %><br>
		    <%= f.text_field :username, class: "form-control" %>
		  		</div>
		  		</div>

		    <div class="form-group">
  			<div class="field">
		    <%= f.label :post %><br>
		    <%= f.text_area :post, class: "form-control" %>
		  </div>
		  </div>

		  <p>
		    <%= f.submit %>
		  </p>
<% end %>

	</div><!-- / column -->

</div>

<script>

	$(document).ready(function(){
		$( ".exampleToggle" ).hide();

		$("p").click(function(){
    		$(".exampleToggle").toggle();
			});
	});

</script>

    <script>
      if (typeof annotator === 'undefined') {
        alert("Oops! it looks like you haven't built Annotator. " +
              "Either download a tagged release from GitHub, or build the " +
              "package by running `make`");
      } else {
        var app = new annotator.App();
        app.include(annotator.ui.main);
        app.start();
      }
    </script>