<div class="special">
	<div class="col-sm-8">
		<br>

		<% @posts.each do |post| %>
			    <h2 id="title"><%= post.title %></h2>
			    <p id="category"><%= post.category %></p>
			    <div id="paragraph"><%= markdown(post.content) %></div>    
		<% end %>
	</div> 

	<div class="col-sm-4">
		<% @comments.each do |comment| %>
			<div class="card-1">
			<h5 class="testcomment"><%= comment.post %></h5> <h5 class="testauthor">- <%= comment.username %> (<%= comment.created_at.to_formatted_s(:long) %></h5>
			</div>
		<% end %> 

	</div><!-- / column -->

	<div class="exampleToggle">
		<%= form_for :cements do |f| %>
		    <div class="form-group">
  				<div class="field">
		    		<%= f.label :post %><br>
		    		<%= f.text_area :post, class: "form-control" %>
		  		</div>
		  	</div>

		  	<h5 id="username">Username</h5>
		  	<div class="form-group">
  				<div class="field">
		    		<%= f.text_field :username, class: "form-control" %>
		  		</div>
		  	</div>

 	<div class="actions">
    	<%= f.submit "Save", class: "btn btn-success-outline" %>
  	</div>
<% end %>
</div>

</div>

<script>

	$(document).ready(function(){
		$('.exampleToggle').hide();
		var whatever = document.getElementsByClassName("exampleToggle");
  		$("p").click(function(){
  			 $('.exampleToggle').show();
   			 $(this).prepend(whatever);
   			  $("form:not(.filter) :input:visible:enabled:first").focus();
  			});
		});

</script>
