<br>

<div class="special">
	<div class="col-md-8">
		<br>

		<% @posts.each do |post| %>
			    <h2 id="title"><%= post.title %></h2>
			    <p id="category"><%= post.category %></p>
			    <br>
			        <!-- By <h5><%= post.author %></h5> at <h5><%= post.published_at %></h5> -->
			    <div id="paragraph"><%= markdown(post.content) %></div>    
		<% end %>
	</div> 

	<div class="col-md-4">

	</div><!-- / column -->

	<div class="exampleToggle">
		<%= form_for :cements do |f| %>
		  	<div class="form-group">
  			<div class="field">
		    <%= f.label :username %><br>
		    <%= f.text_field :username, class: "form-control" %>
		  		</div>
		  		</div>

		    <div class="form-group">
  			<div class="field">
		    <%= f.label :post %><br>
		    <%= f.text_area :post, class: "form-control" %>
		  </div>
		  </div>

 	<div class="actions">
    	<%= f.submit "Save", class: "btn btn-success-outline" %>
  	</div>
<% end %>
</div>

</div>

<script>

	$(document).ready(function(){
		var whatever = document.getElementsByClassName("exampleToggle");
  		$("p").click(function(){
   			 $(this).append(whatever);
  			});
		});

</script>
