<div class="special">
	<div class="col-sm-8">
		<% @posts.each do |post| %>
			    <h2 id="title"><%= post.title %></h2>
			   	<hr class="star-light">
			    <p id="category"><%= post.category %></p>
			    <div id="paragraph"><%= markdown(post.content) %></div>    
		<% end %>
	</div> 

	<div class="col-sm-4">
		<% @comments.each do |comment| %>
			<div class="card-1">
			<h5 class="testcomment"><%= comment.post %></h5> <h5 class="testauthor">- <%= comment.username %> (<%= comment.created_at.to_formatted_s(:long) %>)</h5>
			</div>
		<% end %> 

	</div><!-- / column -->


</div>


<script>

	$(document).ready(function(){
		$('.exampleToggle').hide();
		var whatever = document.getElementsByClassName("exampleToggle");
  		$("p").click(function(){
  			 $('.exampleToggle').show();
   			 $(this).prepend(whatever);
   			  $("form:not(.filter) :input:visible:enabled:first").focus();
  			});
		});

</script>