<div class="container">

	<ul id="hexGrid">
	  <% @posts.each do |post| %>
	  <li class="hex">
	    <%= link_to fearthewaveblog_path(id: post.slug), class: "hexIn" do %>
	       <%= image_tag(post.headerimg, :alt => "rss feed") %>
	       <h1><%= post.title %></h1>
	      <p><%= post.category %></p>
	      <% end %>
	  </li>
	  	<% end %>
	</ul>
</div>

<br>

<!-- no container --> 

<div class="mainbar">
	<div class="col-sm-4">
		 <% @bars.each do |bar| %>
		 	  <h1 id="mainhead"><%= bar.title %></h1>
		 	  <hr class="divider">
		      <p id="maintext"><%= bar.category %> - <%= bar.author %></p>
		<% end %>
	</div>

	<div class="col-sm-4">
		<% @bars.each do |bar| %>
		 	  <h1 id="mainhead"><%= bar.title %></h1>
		 	  <hr class="divider">
		      <p id="maintext"><%= bar.category %> - <%= bar.author %></p>
		<% end %>
	</div>

	<div class="col-sm-4">
		<% @bars.each do |bar| %>
		 	  <h1 id="mainhead"><%= bar.title %></h1>
		 	  <hr class="divider">
		      <p id="maintext"><%= bar.category %> - <%= bar.author %></p>
		<% end %>
	</div>

</div>

<br>