<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  </div>

  <div class="form-group">
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content, :cols => "30", :rows => "15", class: "form-control" %>
  </div>
  </div>

  <div class="form-group">
  <div class="field">
    <%= f.label :published_at %><br>
    <%= f.datetime_select :published_at, class: "form-control" %>
  </div>
  </div>

  <div class="form-group">
  <div class="field">
    <%= f.label :author %><br>
    <%= f.text_field :author, class: "form-control" %>
  </div>
  </div>

  <div class="form-group">
  <div class="field">
    <%= f.label :category %><br>
    <%= f.text_field :category, class: "form-control" %>
  </div>
  </div>

  <div class="form-group">
  <div class="field">
    <%= f.label :headerimg %><br>
    <%= f.text_field :headerimg, class: "form-control" %>
  </div>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-success-outline" %>
  </div>
<% end %>
