  <!DOCTYPE html>
<html>
<head>
  <title>FearTheWave</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>

</head>
<body>

<%= render 'layouts/ftwheader' %>
<%= render 'layouts/google_analytics' %>

<div class="page-wrap2">
  <%= yield %>

 <div class="ftwdivide"></div>
 <footer class="site-footer2" id="toptext3">

</footer>

 </div>

</body>
</html>