  <!DOCTYPE html>
<html>
<head>
  <title>FearTheWave.com - a Community for the Tulane Green Wave</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>

</head>
<body>

<%= render 'layouts/ftwheader' %>
<%= render 'layouts/google_analytics' %>

<div class="page-wrap2">
  <%= yield %>

      <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <p class="copyright text-muted" style="text-align: center; margin: 0px; margin-bottom: 5px;">Follow FTW On:</p>
                        <li>
                            <a href="https://twitter.com/fearthewaveblog">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/Fear-the-Wave-114537595280819/?fref=ts">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://soundcloud.com/user-774038550">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-soundcloud fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

 <div class="ftwdivide"></div>
 <footer class="site-footer2" id="toptext3">

</footer>

 </div>

</body>
</html>